header{
    height: 200px;
    position: fixed;
    margin: 0;
    display: inline;
    width: 100%;
}

header img{
    float: left;
}

nav{
    list-style: none;
}

nav li{
    display: inline;
    padding: 20px;
    float: right;
}

header footer{
    height: 50px;
    bottom: -200px
}