body {
    background-color: #eee;
    font-size: 1.5em;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    perspective: 1px;
    overflow: hidden;
}

header {
    background-color: #27ae60;
    height: 100px;
    width: 100%;
}

header img {
    margin: 1%;
    float: left;
    height: 80%;
}

div.navbar {
}

nav {
    list-style: none;
    float: right;
    background-color: #2ecc71;
}

nav ul {
    padding: 0;
    margin: 0;

}

nav li {
    display: inline-block;
    margin: 0;
}

nav li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%; 
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.parallax__layer--base {
    transform: translateZ(0);
    width: 100%;
}
.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
    width: 100%;
}

.backgroundContent {
    width: 100%;
    height: 300px;
    background-color: #eee;
}

.content {
    width: 100%;
    height: 400px;
    background-color: #f00;
}